@model List<StaffViewModel>
@{
    ViewData["Title"] = "Home Page";
}

<table class="table table-bordered">
    <thead>
        <tr>
            <th>#</th>
            <th>Adı</th>
            <th>Başlık</th>
            <th>Sosyal Medya1</th>
            <th>Sosyal Medya2</th>
            <th>Sosyal Medya3</th>
            <th>İşlemler</th>
        </tr>
    </thead>
    <tbody>
        @foreach (var item in Model)
        {
            <tr>
                <td>@item.Id</td>
                <td>@item.Name</td>
                <td>@item.Title</td>
                <td>@item.FacebookLink</td>
                <td>@item.InstagramLink</td>
                <td>@item.TwitterLink</td>
                <td>
                    <a asp-area="Admin" asp-controller="Staff" asp-action="DeleteStaff" asp-route-id="@item.Id" class="btn btn-danger">Sil</a>
                    <a asp-area="Admin" asp-controller="Staff" asp-action="UpdateStaff" asp-route-id="@item.Id" class="btn btn-Success">Güncelle</a>
                    <a href="#" class="btn btn-dark">Detay</a>
                </td>
            </tr>
        }
    </tbody>
</table>
<a href="/Admin/Staff/AddStaff/" class="btn btn-info">Ekle</a>